<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groing-List</title>
    <link rel="icon" href="./favicon.ico" />
    <link rel="stylesheet" href="./src/css/color.css" />
    <link rel="stylesheet" href="./src/css/list.css" />
  </head>

  <body>
    <ul>
      <% data.forEach(function(item){ %>
      <li>
        <a href="./src/html/<%= item.name %>.html"> <%= item.ct %> -------- <%= item.name %> </a>
      </li>
      <% }); %>
    </ul>
    <script src="./src/js/click.js"></script>
    <script src="./src/js/scroll.js"></script>
  </body>
</html>
