<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groing-List</title>
    <link rel="icon" href="./favicon.ico" />
    <link rel="stylesheet" href="./src/css/color.css" />

    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        width: 100vw;
        height: 100vh;
        background-color: var(--bg-color);
        display: flex;
        justify-content: center;
      }
      p {
        margin: 15px 0;
      }
      li {
        color: blue;
        margin: 10px 0;
      }
      ul {
        min-width: 50%;
        margin-top: 100px;
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
      }
      a {
        text-decoration: none;
        position: relative;
      }
      a::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: pink;
        transition: width 0.2s linear;
      }
      a:hover::after {
        width: 100%;
      }
    </style>
  </head>

  <body>
    <ul>
      <p>List:</p>
      <% data.forEach(function(item){ %>
      <li>
        <a href="./src/html/<%= item.name %>.html"> <%= item.ct %> -------- <%= item.name %> </a>
      </li>
      <% }); %>
    </ul>
    <script src="./src/js/click.js"></script>
  </body>
</html>
