body {
  background-color: var(--article-color);
}

.nav {
  position: sticky;
  top: 0;
  margin: 0 auto;
  padding: 0 20px;
  height: 60px;
  max-width: 980px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}
.nav div {
  height: 100%;
  line-height: 60px;
}
/* .nav .auther {
  letter-spacing: 2px;
  font-size: 27px;
} */

/* .nav .auther {
  display: flex;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.nav .auther span {
  display: block;
  cursor: pointer;
  user-select:none;
  transition: all linear 0.3s;
}

.nav .auther:hover span:nth-child(2n+1) {
  transform: scale(1.5);
  text-shadow: 0px 0px 1px #000;
  color: #fff;
}

.nav .auther:hover span:nth-child(2n) {
  transform: rotateZ(30deg);
} */

.nav .auther {
  display: flex;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.nav .auther span {
  display: block;
  cursor: pointer;
  transition: all linear 0.5s;
}

.nav .auther span:nth-child(2n + 1) {
  transform-origin: right center;
}

.nav .auther span:nth-child(2n) {
  transform-origin: left bottom;
}

.nav .auther:hover span:nth-child(2n + 1) {
  transform: scale(1.5);
  text-shadow: 0px 0px 1px #000;
  color: #fff;
}

.nav .auther:hover span:nth-child(2n) {
  transform: scale(1) rotateZ(4deg);
}

.content {
  padding: 0 20px;
  max-width: 980px;
  overflow-x: scroll;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}
code {
  font-family: fangsong;
}
blockquote {
  margin-left: 0;
}
ul {
  margin: 0;
  margin-left: -1rem;
}
.end {
  letter-spacing: 10px;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: gray;
  font-weight: 900;
}

.page {
  display: flex;
  box-sizing: border-box;
  height: 3rem;
  gap: 1rem;
  margin: 1rem 0;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.page a:hover {
  border: 2px solid blue;
}
.page a {
  flex-grow: 1;
  flex-basis: 200px;
  box-sizing: border-box;
  display: block;
  border: 2px solid #c5c5c5;
  border-radius: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.page .pre {
  width: 47%;
  height: 100%;
  line-height: 3rem;
}
.page .next {
  width: 47%;
  height: 100%;
  text-align: right;
  line-height: 3rem;
}

.fotter {
  border-top: 2px solid #c5c5c5;
  width: 100%;
  height: 6rem;
}
.fotter p:first-child {
  font-style: italic;
}
.fotter p {
  margin: 5px 0;
  height: 2rem;
  width: 100%;
  text-align: center;
  font-weight: 900;
}
