:root {
  --bg-color: #304156;
  --article-color:#fff;
  --boxbg-color: #696e644d;
  --tx-color: #000;
  --ht-color: #fff;
  --hoverli-color: #000;
  --li-color: #fefefe;
  --bb-color: #000;
  --fo-color: #fff;
  --a-color: #fff
}
