:root {
  --bg-color: #f5f5d5;
  --boxbg-color: rgba(0, 0, 0, 0.3);
  --tx-color: #000;
  --ht-color: #000;
  --hoverli-color: #000;
  --li-color: #fefefe;
  --bb-color: #000;
  --fo-color: #fff;
}

pre {
  outline: 5px solid #ccc;
  border-radius: 5px;
}
