/* * {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}
.check {
  position: absolute;
  top: 10px;
  right: 10px;
  content: '';
  width: 48px;
  height: 48px;
  background-color: red;
  border-radius: 50%;
  background: url(../img/bai.png) no-repeat;
  transform: scale(0.5);
}
p {
  margin: 15px 0;
}
li {
  color: #000;
  margin: 10px 0;
  list-style: none;
  font-family: fangsong;
}
li::before {
  content: '|';
  display: inline-block;
  font-size: 20px;
}
ul {
  min-width: 50%;
  margin-top: 100px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}
ul::before {
  position: absolute;
  top: 80px;
  content: 'List:';
}
a {
  text-decoration: none;
  position: relative;
  color: #88889e;
}
a::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -2px;
  left: -8px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s linear;
  transform: scaleY(0.5);
  transform-origin: left;
}
a:hover::after {
  width: calc(100% + 8px);
} */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav {
  position: sticky;
  top: 0;
  margin: 0 auto;
  padding: 0 20px;
  height: 60px;
  max-width: 980px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}
.nav div {
  height: 100%;
  line-height: 60px;
}

.nav .auther {
  display: flex;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.nav .auther span {
  display: block;
  cursor: pointer;
  transition: all linear 0.5s;
  user-select: none;
}

.nav .auther span:nth-child(2n + 1) {
  transform-origin: right center;
}

.nav .auther span:nth-child(2n) {
  transform-origin: left bottom;
}

.nav .auther:hover span:nth-child(2n + 1) {
  transform: scale(1.5);
  text-shadow: 0px 0px 1px #000;
  color: #fff;
}

.nav .auther:hover span:nth-child(2n) {
  transform: scale(1) rotateZ(4deg);
}

.content {
  padding: 0 20px;
  max-width: 980px;
  overflow-x: scroll;
  height: 100%;
  min-height: calc(100vh - 60px - 6rem);
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 15px;
}

.content ul li {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 130px;
  flex: 1;
  flex-basis: 280px;
  height: 130px;
  list-style: none;
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0px 0px 3px #1bc6d6;
  cursor: pointer;
}
.content ul li a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000;
}

.content ul li .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content ul li .left img {
  width: 200px;
  height: 100px;
}

.content ul li .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.content ul li .right span {
  width: 100px;
  text-align: right;
}

.content ul li .right span:nth-of-type(1) {
  color: #1bc6d6;
}

.content ul li .right span:nth-of-type(2) {
  color: #1bc6d6;
}

.fotter {
  border-top: 2px solid #c5c5c5;
  width: 100%;
  height: 6rem;
}
.fotter p:first-child {
  font-style: italic;
}
.fotter p {
  margin: 5px 0;
  height: 2rem;
  width: 100%;
  text-align: center;
  font-weight: 900;
}
