* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}
p {
  margin: 15px 0;
}
li {
  color: #000;
  margin: 10px 0;
  list-style: none;
}
li::before {
  content: '|';
  display: inline-block;
  font-size: 20px;
}
ul {
  min-width: 50%;
  margin-top: 100px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}
a {
  text-decoration: none;
  position: relative;
}
a::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -2px;
  left: -8px;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.2s linear;
}
a:hover::after {
  width: calc(100% + 8px);
}
