* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}
.check {
  position: absolute;
  top: 10px;
  right: 10px;
  content: '';
  width: 48px;
  height: 48px;
  background-color: red;
  border-radius: 50%;
  background: url(../img/bai.png) no-repeat;
  transform: scale(0.5);
}
p {
  margin: 15px 0;
}
li {
  color: #000;
  margin: 10px 0;
  list-style: none;
  font-family: fangsong;
}
li::before {
  content: '|';
  display: inline-block;
  font-size: 20px;
}
ul {
  min-width: 50%;
  margin-top: 100px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}
ul::before {
  position: absolute;
  top: 80px;
  content: 'List:';
}
a {
  text-decoration: none;
  position: relative;
  color: #88889e;
}
a::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -2px;
  left: -8px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s linear;
  transform: scaleY(0.5);
  transform-origin: left;
}
a:hover::after {
  width: calc(100% + 8px);
}
