.notify {
  position: fixed;
  top: 5rem;
  right: 1rem;
  width: 7rem;
  height: 3rem;
  line-height: 3rem;
  color: #1bc6d6;
  letter-spacing: 0.5rem;
  border: 1px solid #1bc6d6;
  text-align: center;
  box-shadow: 0px 0px 5px #1bc6d6;
  z-index: 999;
}
